body {
    margin: 0;
}

#contenedor {
    position: fixed;
    top: 0;
    background-color: #F4ABF2;
    border: 0px solid #FF0000;
    height: 100%;
    width: 100%;
    margin: 00px;
}

.bg {
    /* The image used */
    background-image: url("Images/2.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#izquierda {
    height: 100%;
    float: left;
    width: 100%;
    background-color: #FFFFFF;
}

div.formulario {
    position: absolute;
    top: 50%;
    right: 0;
    width: 40%;
    height: 30%;
    background: rgba(194, 194, 194, 0.5);
    border-radius: 40px 0px 0px 0px;
    -moz-border-radius: 40px 0px 0px 0px;
    -webkit-border-radius: 40px 0px 0px 0px;
    border: 0px solid #000000
}

div.logotipo {
    position: absolute;
    top: 5%;
    right: 65%;
    width: 25%;
    height: 25%;
    background: rgba(194, 194, 194, 0.0);
    border-radius: 40px 0px 0px 0px;
    -moz-border-radius: 40px 0px 0px 0px;
    -webkit-border-radius: 40px 0px 0px 0px;
    border: 0px solid #000000
}


/*div.formulario # {
    background-color: transparent;
    border: 0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 5px;
    color: #c2c2c2;
    cursor: default;
}*/

div.header {
    position: absolute;
    width: 40%;
    height: 40%;
    top: 5%;
    right: -20%;
    background-color: none;
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
}
